<modal #slotModal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">{{slot?.title}}</h4>
        <small>{{slot?.speaker}}</small>
    </modal-header>
    <modal-body>
        <strong>
            {{slot?.starttime || "" | slice:11:16}} - {{slot?.endtime || "" | slice:11:16}} im Raum {{slot?._embedded?.room?.roomnumber}}
        </strong>
        <span class="label pull-xs-right"
              [class.label-success]="slot?.participants < slot?.capacity"
              [class.label-danger]="slot?.participants >= slot?.capacity">
            {{slot?.participants}}/{{slot?.capacity}}
        </span><br/>
        <br/>
        <p class="text-justify">{{slot?.description}}</p>
    </modal-body>
    <modal-footer>
        <button *ngIf="isRegisterable() && userInSlot" type="button" class="btn btn-danger" (click)="unregister()">Buchung entfernen</button>
        <button *ngIf="isUnregisterable() && !userInSlot" type="button" class="btn btn-primary" (click)="register()">Buchen</button>
    </modal-footer>
</modal>