<div>
    <div class="flexbox">
        <div *ngFor="#room of rooms">
            <div class="card bg-faded">
                <div class="card-block card-room-block text-xs-center">
                    <strong>{{room.roomnumber}}</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="smaller">
        <div *ngFor="#timeIndex of timeIndices" class="flexbox">
            <div *ngFor="#room of rooms" class="flexbox">
                <slot class="flexbox"
                      (onSlotClick)="slotDetail.showSlot($event, userInSlot($event))"
                      [slot]="slotMatrix[timeIndex][room.id]"
                      [userInSlot]="userInSlot(slotMatrix[timeIndex][room.id])"
                      [isContinuation]="isContinuation(timeIndex, room.id)"></slot>
            </div>
        </div>
    </div>
</div>
<slot-detail #slotDetail (close)="getCurrentUser()"></slot-detail>