<form name="form" novalidate>
  <div class="modal-header">
    <h4>{{slot.title}}</h4>
    <small>{{slot.speaker}}</small>
  </div>
  <div class="modal-body">
    <span class="slot-time">
      {{slot.starttime | limitTo: 5}} - {{slot.endtime | limitTo: 5}}
    </span>
    <span class="pull-right" ng-class="{'badge red': (slot.participants == slot.capacity), 'badge green': (slot.participants <= slot.capacity)}">
      {{slot.participants}}/{{slot.capacity}}
    </span><br/>
    <br/>
    {{slot.description}}
  </div>
  <div class="modal-footer">
    <alert class="pull-left text-left text-nowrap" type="danger" close="removeAlert()" ng-if="alert"><strong>{{alert}}</strong></strong></alert>
    <button class="btn btn-primary" ng-click="register()" type="submit" ng-if="slot.$has('register') && !userInSlot">Buchen</button>
    <button class="btn btn-danger" ng-click="unregister()" type="submit" ng-if="slot.$has('unregister') && userInSlot">Entfernen</button>
  </div>
</form>
