.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

.green {
  background-color: forestgreen;
}

.red {
  background-color: darkred;
}

.spacer {
  margin-top: 10px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navbar-header {
  float: left;
  padding: 10px 3px;
  text-align: center;
  width: 100%;
}

.navbar-brand {
  float: none;
  line-height: 30px;
}

.navbar-help {
  padding-top: 5px;
  padding-right: 15px;
  cursor: pointer;
}

.navbar-brand > img {
  display: inline;
  max-height: 26px;
  margin: -5px auto 0;
}

.blue {
  color: #2196F3;
}

.orange {
  color: #FF9800;
}

.panel-body {
  min-height: 110px;
}

/* hide rooms and continuation slots in small devices */
.panel-continuation, .room-header {
  display: none;
}

.panel-default {
  border-color: #2196F3;
}

.panel-default > .panel-heading {
  background-color: #2196F3;
  border-color: #2196F3;
}

.panel-success {
  border-color: #FF9800;
}

.panel-success > .panel-heading {
  background-color: #FF9800;
  border-color: #FF9800;
}

.slot-time {
  font-weight: bold;
}

.alert {
  padding: 6px 35px 6px 12px;
  margin-bottom: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 7px;
  line-height: 12px;
  background-color: #f5f5f5;
  z-index: 999;
}

.glyphicon.glyphicon-question-sign {
  font-size: 18px;
}

.container-fluid {
  margin-top: 70px; /* navbar */
  margin-bottom: 40px; /* footer */
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  .navbar-header {
    padding: 10px 15px;
  }
}

@media (min-width: 992px) {
  .col-md-1 {
    width: 12.5%;
  }

  .panel-continuation {
    min-height: 174px;
    background-color: rgb(245, 245, 245);
    border-color: rgb(227, 227, 227);
    color: rgb(119, 119, 119);
    display: block;
  }

  .room-header {
    display: block;
  }
}
