<div class="alert alert-info alert-dismissible announcement" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  Die Anmeldung ist vom 20.05.2019, 9&nbsp;Uhr, bis 07.06.2019, 12&nbsp;Uhr, freigeschaltet.
  Mitglieder des Strategieteams, Bereichsleiter und Studenten können sich ab dem 27.05.2019, 9&nbsp;Uhr, anmelden.
</div>
<div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="errorMessage = null">
        <span aria-hidden="true">&#215;</span>
    </button>
    {{errorMessage}}
</div>
<section>
    <div id="button-bar" class="text-center">
        <button *ngFor="let date of dates" class="btn btn-outline-info"
                (click)="selectedDate = date" [class.active]="date == selectedDate">
            {{date}}
        </button>
    </div>
    <div id="room-bar" class="container-fluid">
      <div class="row">
        <div *ngFor="let room of rooms" class="col">
            <div class="card room-card bg-light mb-3">
                <div class="card-block text-center">
                    <strong>{{room.roomnumber}}</strong>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div *ngFor="let date of dates" class="container-fluid grid smaller float-left"
         [class.animated]="enableAnimation" [class.future]="isFuture(date)" [class.past]="isPast(date)">
        <div *ngFor="let time of times[date]" class="row">
            <div *ngFor="let room of rooms" class="col mb-2">
                <campus-slot
                      (onSlotClick)="slotDetail.showSlot($event, userInSlot($event))"
                      [slot]="slotMatrix[date][time][room.id]"
                      [userInSlot]="userInSlot(slotMatrix[date][time][room.id])"
                      [isContinuation]="isContinuation(date, time, room.id)"></campus-slot>
            </div>
        </div>
    </div>
</section>
<campus-slot-detail #slotDetail (close)="getCurrentUsersRegisteredSlots()"></campus-slot-detail>
