<div class="alert alert-info alert-dismissible announcement" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  Die Anmeldung ist vom 29.05.2017, 9&nbsp;Uhr, bis 16.06.2017, 12&nbsp;Uhr, freigeschaltet.
</div>
<div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="errorMessage = null">
        <span aria-hidden="true">&#215;</span>
    </button>
    {{errorMessage}}
</div>
<section>
    <div id="button-bar" class="text-center">
        <button *ngFor="let date of dates" class="btn btn-outline-info"
                (click)="selectedDate = date" [class.active]="date == selectedDate">
            {{date}}
        </button>
    </div>
    <div id="room-bar" class="flexbox d-flex container-fluid">
        <div *ngFor="let room of rooms">
            <div class="card room-card bg-faded mb-3">
                <div class="card-block text-center">
                    <strong>{{room.roomnumber}}</strong>
                </div>
            </div>
        </div>
    </div>
    <div *ngFor="let date of dates" class="container-fluid grid smaller float-left"
         [class.animated]="enableAnimation" [class.future]="isFuture(date)" [class.past]="isPast(date)">
        <div *ngFor="let time of times[date]" class="flexbox d-flex">
            <div *ngFor="let room of rooms" class="flexbox d-flex">
                <campus-slot class="d-flex mb-2"
                      (onSlotClick)="slotDetail.showSlot($event, userInSlot($event))"
                      [slot]="slotMatrix[date][time][room.id]"
                      [userInSlot]="userInSlot(slotMatrix[date][time][room.id])"
                      [isContinuation]="isContinuation(date, time, room.id)"></campus-slot>
            </div>
        </div>
    </div>
</section>
<slot-detail #slotDetail (close)="getCurrentUsersRegisteredSlots()"></slot-detail>
