<modal #loginModal [keyboard]="false" [backdrop]="'static'">
    <modal-header>
        <h4 class="modal-title">Login</h4>
    </modal-header>
    <modal-body>
        <form>
            <fieldset class="form-group">
                <label for="username">Username</label>
                <input autofocus type="text" class="form-control" id="username" placeholder="Enter username" [(ngModel)]="username">
                <small class="text-muted">Benutze hier deinen Saxonia Benutzernamen.</small>
            </fieldset>
            <fieldset class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="password">
            </fieldset>
        </form>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-primary" (click)="login()">Login</button>
    </modal-footer>
</modal>