@import "../../../variables";

.card {
  height: 100%;

  &:not(.booked) {
    display: none;
    @include media-breakpoint-up(md) {
      display: flex;
    }
  }
}

.card-block {
  padding: 1rem;
  /* to have equal width of cards */
  word-break: break-word;
}

.margin-right {
  margin-right: 0.5rem;
}

.slot-card {
  cursor: pointer;

  &.booked {
    width: 92vw;
    @include media-breakpoint-up(md) {
      width: auto;
    }
    background-color: honeydew;
  }

  .card-title {
    padding-bottom: 5px;
    margin-bottom: 0;
  }

  .card-block {
    flex: 1 1 auto;
    text-overflow: ellipsis;
  }

  .card-footer {
    padding: 0.75rem 1rem;
  }
}

.continuation-card {
  justify-content: center;
  align-items: center;
}

.room-number {
  @include media-breakpoint-up(md) {
    display: none;
  }
}
