<div *ngIf="slot" class="flexbox" [class.mobile-hidden]="!userInSlot">
    <div class="card card-flex slot-card"
         [class.booked]="userInSlot"
         (click)="showSlotDetail()">
        <div class="card-title bg-info">
        </div>
        <div class="card-block">
            <strong>
                {{slot.starttime | slice:11:16}} &#8211; {{slot.endtime | slice:11:16}}
                <span class="badge float-right"
                      [class.badge-success]="slot.participants < (slot.capacity - 3)"
                      [class.badge-warning]="slot.participants >= (slot.capacity - 3) && slot.participants < slot.capacity"
                      [class.badge-danger]="slot.participants >= slot.capacity">
                    {{slot.participants}}/{{slot.capacity}}
                </span>
                <span class="float-right margin-right" *ngIf="userInSlot">
                  <b>Gebucht!</b>
                </span>
                <br/>
                <span class="room-number">
                    {{slot._embedded.room.roomnumber}}
                </span>
            </strong>
            <br/><br/>
            <p class="card-text">{{slot.title}}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">{{slot.speaker}}</small>
        </div>
    </div>
</div>
<div *ngIf="isContinuation" class="d-flex" [class.mobile-hidden]="!userInSlot">
    <div class="card justify-content-center align-items-center">
        <div class="card-block d-flex align-items-center">
            <p class="card-text text-muted"><i>Fortsetzung...</i></p>
        </div>
    </div>
</div>
