@import "../../../variables";

.card {
  height: 100%;
}

.card-block {
  padding: 1rem;
}

.margin-right {
  margin-right: 0.5rem;
}

.mobile-hidden {
  @include breakpoint($breakpoint-small) {
    display: none !important;
  }
}

.booked {
  @include breakpoint($breakpoint-small) {
    width: 92vw;
  }
  background-color: honeydew;
}

.slot-card {
  cursor: pointer;

  .card-title {
    padding-bottom: 5px;
    margin-bottom: 0;
  }

  .card-footer {
    padding: 0.75rem 1rem;
  }
}

.room-number {
  @include breakpoint($breakpoint-medium) {
    display: none;
  }
}
