<nav class="navbar navbar-dark bg-dark d-flex flex-nowrap flex-row">
  <div class="empty"></div>
  <div class="navbar-brand">
    <img id="logo" src="assets/images/saxonia.png"/> Saxonia Campus
  </div>
  <div id="userForm" class="form-inline flex-nowrap no-bottom-margin">
    <ng-container *ngIf="isAuthenticated()">
      <label id="userName" class="navbar-text mr-sm-2">{{username}}</label>
      <button id="logoutButton" (click)="logout()" class="btn btn-outline-info">Logout</button>
    </ng-container>
  </div>
</nav>
