@import "../../../variables";

.navbar {
  .empty, #userName {
    display: none;
  }

  .empty, #userForm {
    width: 35rem;
  }

  #userForm {
    justify-content: flex-end;
  }

  .navbar-brand {
    flex-grow: 1;

    #logo {
      display: inline;
      height: 30px;
      margin-top: -5px;
    }
  }

  @include media-breakpoint-up(sm) {
    text-align: center;

    .empty, #userName {
      display: block;
    }
  }
}
