<div ng-controller="HomeController">
  <div class="row">
    <div ng-repeat="room in rooms">
      <div class="col-md-1">
        <div class="well well-sm text-center room-header"><strong>{{room.roomnumber}}</strong></div>
      </div>
    </div>
  </div>
  <div ng-repeat="timeIndex in timeIndices">
    <div class="row">
      <div ng-repeat="room in rooms" ng-init="slot = slotMatrix[timeIndex][room.id]">
        <div class="col-md-1">
          <div ng-if="!slot && isContinuation(timeIndex, room.id)">
            <div class="panel panel-continuation">
              <div class="panel-heading"></div>
              <div class="panel-body text-center">
                <br/><br/><em>Fortsetzung...</em>
              </div>
            </div>
          </div>
          <div ng-if="slot">
            <div ng-class="{'panel panel-primary': !userInSlot(slot.id), 'panel panel-success': userInSlot(slot.id)}" ng-click="showDetails(slot)">
              <div class="panel-heading">
                <h3 class="panel-title"></h3>
              </div>
              <div class="panel-body">
                <span class="slot-time">
                  {{slot.starttime | limitTo: 5}} - {{slot.endtime | limitTo: 5}}
                </span>
                <span class="pull-right" ng-class="{'badge red': (slot.participants == slot.capacity), 'badge green': (slot.participants <= slot.capacity)}">
                  {{slot.participants}}/{{slot.capacity}}
                </span><br/>
                <br/>
                <div popover="{{slot.title}}" popover-trigger="mouseenter" ng-if="slot.title.length > 36">
                  {{ slot.title | limitTo: 36 }}...
                </div>
                <div ng-if="slot.title.length <= 36">{{slot.title}}</div>
              </div>
              <div class="panel-footer">
                <div popover="{{slot.speaker}}" popover-trigger="mouseenter" ng-if="slot.speaker.length > 20">
                  {{ slot.speaker | limitTo: 20 }}...
                </div>
                <div ng-if="slot.speaker.length <= 20">{{slot.speaker}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
