<div ng-controller="HomeController">
  <div class="row">
    <div ng-repeat="room in rooms">
      <div class="col-md-1">
        <div class="well well-sm text-center"><strong>{{room.roomnumber}}</strong></div>
      </div>
    </div>
  </div>
  <div ng-repeat="timeIndex in timeIndices">
    <div class="row">
      <div ng-repeat="room in rooms" ng-init="slot = slotMatrix[timeIndex][room.id]">
        <div class="col-md-1">
          <div ng-if="slot">
            <div ng-class="{'panel panel-primary': !userInSlot(slot.id), 'panel panel-success': userInSlot(slot.id)}" ng-click="showDetails(slot)">
              <div class="panel-heading">
                <h3 class="panel-title"></h3>
              </div>
              <div class="panel-body">
                <strong>
                  {{slot.starttime}} - {{slot.endtime}}
                </strong>
                <span ng-class="{'badge red': (slot.participants == slot.capacity), 'badge green': (slot.participants <= slot.capacity)}">
                  {{slot.participants}}/{{slot.capacity}}
                </span><br/>
                <br/>
                <div popover="{{slot.title}}" popover-trigger="mouseenter" ng-if="slot.title.length > 40">
                  {{ slot.title | limitTo: 40 }}...
                </div>
                <div ng-if="slot.title.length <= 40">{{slot.title}}</div>
              </div>
              <div class="panel-footer">
                <div popover="{{slot.speaker}}" popover-trigger="mouseenter" ng-if="slot.speaker.length > 20">
                  {{ slot.speaker | limitTo: 20 }}...
                </div>
                <div ng-if="slot.speaker.length <= 20">{{slot.speaker}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
