<p class="description">
  <b>Klicke an, was dich interessiert.</b> <span [class.max]="usersPreferredSlotIds.length == 10">{{ usersPreferredSlotIds.length }}/10</span> Slots markiert.<br>
  Hierbei handelt es sich noch <b>nicht</b> um die offizielle Buchung!<br>
</p>
<div class="list-group">
  <div *ngFor="let slot of slots" class="list-group-item flex-column align-items-start margin-bottom"
       [class.marked-as-interesting]="isMarkedAsInteresting(slot)"
       (click)="processClick($event, slot)">
    <div class="d-flex w-100 justify-content-end mobile margin-bottom">
      <small>
        <md-slide-toggle [labelPosition]="'before'" [checked]="isMarkedAsInteresting(slot)" (change)="processSliderChange($event, slot)">
          <span>&nbsp;<b *ngIf="isMarkedAsInteresting(slot)">Interessiert mich!</b></span>
        </md-slide-toggle>
      </small>
    </div>
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{slot.title}}</h5>
      <small class="mobile-hidden">
        <md-slide-toggle [labelPosition]="'before'" [checked]="isMarkedAsInteresting(slot)" (change)="processSliderChange($event, slot)">
          <span>&nbsp;<b *ngIf="isMarkedAsInteresting(slot)">Interessiert mich!</b></span>
        </md-slide-toggle>
      </small>
    </div>
    <p class="mb-1" [innerHtml]="slot?.description | newline"></p>
    <div>
      <i class="fa fa-user fa-fw" aria-hidden="true"></i>
      <small>{{ slot.speaker }}</small>
    </div>
  </div>
</div>
