@import "../../../variables";

h5 {
  padding-bottom: 0.7rem;
}

.list-group {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.list-group-item {
  margin-bottom: 1.25rem;
  cursor: pointer;
  background-color: whitesmoke;
}

.margin-bottom {
  margin-bottom: 0.75rem;
}

.description {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

small {
  text-align: right;
}

.mobile-hidden {
  @include breakpoint($breakpoint-small) {
    display: none !important;
  }
}

.mobile {
  @include breakpoint($breakpoint-medium) {
    display: none !important;
  }
}

.marked-as-interesting {
  background-color: honeydew;
}

.max {
  font-weight: bold;
  color: red;
}
