<div class="alert alert-info alert-dismissible description" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  Um die Vorträge der Nachfrage entsprechend bestmöglich in die Räume einzuplanen, möchten wir zunächst euer generelles
  Interesse an den Themen abfragen.
  Du hast hier die Möglichkeit, bis zu {{maxSlots}} Themen auszuwählen, die dich interessieren. Die Auswahl ist nicht
  verbindlich, es handelt sich also
  <strong>nicht</strong> um die offizielle Registrierung. Die Registrierungsphase beginnt voraussichtlich in KW 21,
  nachdem die Raumplanung abgeschlossen ist.
</div>
<p class="selection-counter">Aktuell ausgewählt: <span [class.max]="usersPreferredSlotIds.length == maxSlots">{{ usersPreferredSlotIds.length }}/{{maxSlots}}</span>
  Themen</p>
<div class="list-group">
  <div *ngFor="let slot of slots" class="list-group-item flex-column align-items-start"
       [class.clickable]="(isMarkable(slot) || isUnmarkable(slot)) && (!isMaximumNumberOfSlotsMarked() || isMarkedAsInteresting(slot))"
       [class.marked-as-interesting]="isMarkedAsInteresting(slot)"
       (click)="processClick($event, slot)">
    <div class="slot-header">
      <mat-slide-toggle class="toggle"
        [disabled]="(!isMarkable(slot) && !isUnmarkable(slot)) || (isMaximumNumberOfSlotsMarked() && !isMarkedAsInteresting(slot))"
        [labelPosition]="'before'"
        [checked]="isMarkedAsInteresting(slot)">
        <span>&nbsp;<b *ngIf="isMarkedAsInteresting(slot)">Interessiert mich!</b></span>
      </mat-slide-toggle>
      <h5>{{slot.title}}</h5>
    </div>
    <p class="slot-description" [innerHtml]="slot?.description | newline"></p>
    <div>
      <i class="fa fa-user fa-fw" aria-hidden="true"></i>
      <small>{{ slot.speaker }}</small>
    </div>
  </div>
</div>
