@import "../../../variables";

.list-group {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.list-group-item {
  margin-bottom: 1.25rem;
}

.clickable {
  cursor: pointer;
}

.description.alert {
  font-size: 0.9rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.selection-counter {
  font-size: 0.9rem;
  margin-left: 2.0rem;
  margin-right: 2.0rem;
}

.slot-header {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  @include media-breakpoint-up(sm) {
    justify-content: space-between;
    flex-direction: row;
  }
  width: 100%;
  margin-bottom: 0.75rem;

  .toggle {
    margin-left: auto;
    padding-left: 0.4rem;
    @include media-breakpoint-up(sm) {
      order: 1;
    }
  }
}

.slot-description {
  margin-bottom: 0.25rem;
  width: 100%;
  font-size: 0.9rem;
  @include media-breakpoint-up(sm) {
    font-size: 1.0rem;
  }
}

.marked-as-interesting {
  background-color: honeydew;
}

.max {
  font-weight: bold;
  color: red;
}
