/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
@import "variables.scss";

/* Default stylesheet */
body {
  overflow-x: hidden;
}

.badge {
  font-size: 100%;
}

.d-flex > * {
  padding-left: 0;
  min-width: 0;

  @include breakpoint($breakpoint-medium) {
    padding-left: 15px;
    flex: 1 12.5%;
    min-width: 0;
  }
}

.d-flex > *:first-child {
  @include breakpoint($breakpoint-medium) {
    padding-left: 0;
  }
}
