<campus-modal #slotModal>
  <campus-modal-header [showClose]="true">
    <h5 class="modal-title">{{slot?.title}}</h5>
  </campus-modal-header>
  <campus-modal-body>
    <div>
      <strong>
        <i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>
        {{slot?.starttime || "" | slice:11:16}} &#8211; {{slot?.endtime || "" | slice:11:16}}
        <span class="room"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>
        {{slot?._embedded?.room?.roomnumber}}</span>
      </strong>
      <span class="badge float-right"
            [class.badge-success]="slot?.participants < slot?.capacity"
            [class.badge-warning]="slot?.participants >= (slot?.capacity - 3) && slot?.participants < slot?.capacity"
            [class.badge-danger]="slot?.participants >= slot?.capacity">
            {{slot?.participants}}/{{slot?.capacity}}
        </span>
    </div>
    <div>
      <i class="fa fa-user fa-fw" aria-hidden="true"></i>
      <small>{{ slot?.speaker }}</small>
    </div>
    <p class="text-justify description" [innerHtml]="slot?.description | newline"></p>
  </campus-modal-body>
  <campus-modal-footer>
    <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="errorMessage = null">
        <span aria-hidden="true">&#215;</span>
      </button>
      <strong>{{errorMessage}}</strong>
    </div>
    <button *ngIf="isUnregisterable() && userInSlot" type="button" class="btn btn-danger" (click)="unregister()">Buchung
      entfernen
    </button>
    <button *ngIf="isRegisterable() && !userInSlot" type="button" class="btn btn-primary" (click)="register()">Buchen
    </button>
    <button *ngIf="userInSlot" id="export-cal-button" type="button" class="btn btn-secondary" (click)="exportToIcs()">
      <i class="fa fa-calendar" aria-hidden="true"></i><span class="button-text">In Kalender exportieren</span>
    </button>
  </campus-modal-footer>
</campus-modal>
