<campus-modal #slotModal>
  <modal-header [show-close]="true">
    <span class="speaker"><small>{{slot?.speaker}}</small></span>
    <h5 class="modal-title">{{slot?.title}}</h5>
  </modal-header>
  <modal-body>
    <p>
      <strong>
        {{slot?.starttime || "" | slice:11:16}} &#8211; {{slot?.endtime || "" | slice:11:16}} im Raum
        {{slot?._embedded?.room?.roomnumber}}
      </strong>
      <span class="badge float-right"
            [class.badge-success]="slot?.participants < slot?.capacity"
            [class.badge-warning]="slot?.participants >= (slot?.capacity - 3) && slot?.participants < slot?.capacity"
            [class.badge-danger]="slot?.participants >= slot?.capacity">
            {{slot?.participants}}/{{slot?.capacity}}
        </span></p>
    <p class="text-justify description" [innerHtml]="slot?.description | newline"></p>
  </modal-body>
  <modal-footer>
    <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="errorMessage = null">
        <span aria-hidden="true">&#215;</span>
      </button>
      <strong>{{errorMessage}}</strong>
    </div>
    <button *ngIf="isUnregisterable() && userInSlot" type="button" class="btn btn-danger" (click)="unregister()">Buchung
      entfernen
    </button>
    <button *ngIf="isRegisterable() && !userInSlot" type="button" class="btn btn-primary" (click)="register()">Buchen
    </button>
    <button *ngIf="userInSlot" id="export-cal-button" type="button" class="btn btn-secondary" (click)="exportToIcs()">
      <i class="fa fa-calendar" aria-hidden="true"></i> <span class="button-text">In Kalender exportieren</span>
    </button>
  </modal-footer>
</campus-modal>
