/* Media dependent styles */

@media only screen and (min-device-width: 660px) {

    .navbar-brand-authenticated {
        margin-left: 215px;
    }

    .room-number-mobile {
        display: none;
    }

    .navbar {
        text-align: center !important;
    }
}

@media  only screen and (orientation: portrait) AND (max-device-width: 420px), (orientation: landscape) AND (max-device-width: 660px) {

    #userName {
        display: none !important;
    }

    #room-bar {
        display: none;
    }

    .mobile-hidden {
        display: none !important;
    }

    .flexbox > * {
        padding-left: 0 !important;
        flex: initial !important;
        min-width: 0;
    }

    .card-warning-outline {
        width: 92vw;
    }

    .navbar {
        text-align: left !important;
    }

    .modal-dialog {
        width: 95vw;
    }
}

/* Default stylesheet */

body {
    overflow-x: hidden;
}

.navbar {
    width: 100%;
}

.navbar-brand {
    display: inline-block;
}


#logo {
    display: inline;
    height: 30px;
    margin-top: -5px;
}

#button-bar {
    padding-bottom:1rem;
}

#button-bar > * {
    margin-left: 15px;
}

.label {
    font-size: 100%;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.no-cursor {
    cursor: default;
}

.clickable {
    cursor: pointer;
}

.padding-top {
    padding-top: 15px;
}

.smaller {
    font-size: 12px;
}

.flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    min-width: 0;
}

.flexbox > * {
    padding-left: 15px;
    flex: 1 12.5%;
    min-width: 0;
}

.flexbox > *:first-child {
    padding-left: 0 !important;
}

.card-block {
    padding: 1rem;
}

.card-room-block {
    padding: 0.5rem;
}

.card-title {
    padding-bottom: 5px;
    margin-bottom: 0;
}

.card-footer {
    padding: 0.75rem 1rem;
}

.card-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.card-flex > .card-block {
    flex-grow: 99;
}

.card-continuation-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    position: absolute;
    width: 100%;
}

.grid-animated {
    transition: 0.6s cubic-bezier(0.75, 0, 0.25, 1);
}

.past {
    transform: translateX(-110%);
}

.future {
    transform: translateX(110%);
}

.modal-footer > .alert {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    margin-bottom: 0;
}

.modal-footer > .alert-dismissible > .close {
    top: 0;
}