.navbar {
    width: 100%;
}

.navbar-brand {
    display: inline-block;
}

.navbar-brand-authenticated {
    margin-left: 215px;
}

#logo {
    display: inline;
    height: 30px;
    margin-top: -5px;
}

#button-bar {
    padding-bottom:1rem;
}

#button-bar > * {
    margin-left: 15px;
}

.label {
    font-size: 100%;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.no-cursor {
    cursor: default;
}

.clickable {
    cursor: pointer;
}

.padding-top {
    padding-top: 15px;
}

.col-xs-1 {
    width: 12.5%
}

.smaller {
    font-size: 12px;
}

.flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flexbox > * {
    padding-left: 15px;
    flex: 1 12.5%;
}

.flexbox > *:first-child {
    padding-left: 0 !important;
}

.card-block {
    padding: 1rem;
}

.card-room-block {
    padding: 0.5rem;
}

.card-title {
    padding-bottom: 5px;
    margin-bottom: 0;
}

.card-footer {
    padding: 0.75rem 1rem;
}

.card-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.card-flex > .card-block {
    flex-grow: 99;
}

.card-continuation-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    position: absolute;
    width: 100%;
    transition: 0.6s cubic-bezier(0.75, 0.3, 0.25, 1);
}

.past {
    transform: translate(-110%,0);
}

.future {
    transform: translate(110%,0);
}

body {
    overflow-x: hidden;
}

.modal-footer > .alert {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    margin-bottom: 0;
}

.modal-footer > .alert-dismissible > .close {
    top: 0;
}